.abouttext {
    color: white;
    margin: 0px 60px;
    
    font-family: sans-serif;
}

.h2{
    color: #ffa500;
    text-transform: uppercase;
    font-weight:bold ;
    display: block;
    text-align: center;
    font-size: 40px;
}

.abouttitle {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.para {
    text-align: justify;
}

.logo2 {
    margin: 0 auto;
}

.logo2 img{
    display: block; 
    margin: 0 auto; 
}

.container1 {
    flex-direction: column;
}

.aboutus {
    color: #ffa500;
    text-transform: uppercase;
    font-weight:bold ;
    display: block;
    text-align: center;
    font-size: 40px;
}