.contact {
    display: flex;
    flex-grow: 1;
    gap: 2em;
    
}

.map {
    display: flex;
    width: 100%;
    margin: 20px;
}

.autoiframe {
    flex-grow: 1;
}

.contacttitle {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.contacttext {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}