.contact {
    border: 3px solid red;
    display: flex;
    flex-grow: 1;


}

.map {
    display: flex;
    width: 100%;
    border: 3px solid red;
}

.autoiframe {
    
    
    flex-grow: 1;
}

.contacttitle {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.contacttext {
    color: white;
    border: 3px solid red;
    font-family: sans-serif;
    font-size: 20px;
}

