body {
    background-color: black;
    font-family: sans-serif;
    background-image: url("../Image/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo1{
    width: 250px;
    height: 77px;
    
}
.logo_container {
    margin: 0 auto;
}

.navigationlink {
    display: block;
    justify-content: center;
    padding: 0;
    margin: 25px 49%;
}

.navigationlink1 {

    font-family: sans-serif;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffa500;
    border: 3px solid #ffa500;
    border-radius: 10px;
    padding: 10px;
}

.navigationlink1:hover {
    color: black;
    background-color: #ffa500;
}

.logo_container img{
    display: block; 
    margin: 0 auto; 
}

.footer1 {
    margin: 0 auto;
}

.footer1 ul {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 39px 50px 7px;
}

.footer1 ul li {
    float: none;
    display: inline-block;
}

.footertext {
    color: #ffa500;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}


.sociallink1,
.sociallink2 {
    margin: 5px;
    padding: 5px;
    border: 3px solid #ffa500;
    border-radius: 10px;
    color: #ffa500;
}

.sociallink1:hover {
    color: #1a6ed8;
    background-color: white;
}

.sociallink2:hover {
    color: #eb0cb7;
    background-color: white;
}

.container1 {
    display: flex;
    gap: 1em;

}

form {
    width: 300px;
    background-color: black;
    padding: 15px 40px 40px 40px;
    border: 3px solid #ffa500;
    margin: 50px auto 0;
    border-radius: 10px;
    color: #ffa500;
}

label {
    margin-bottom: 5px
}

h1 {
    color: #ffa500;
}

.textspace {
    border-radius: 5px;
    border: 3px solid #ffa500;
    width: 290px;
    height: 41px;
}

.texttitle {
    font-size: 12px;
}

#login {
    text-align: center;
    margin: 5px;
    border: 3px solid #ffa500;
    background-color: rgba(255, 165, 0, 1);
    border-radius: 25px;
    padding: 12px;
}

#logintext {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    border: 3px solid #ffa500;
    background-color: rgba(255, 165, 0, 1);
    border-radius: 25px;
    padding: 0%;
    cursor: pointer;
}



#fb {
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    border: 3px solid #1a6ed8;
    background-color: rgba(26, 110, 216, 1);
    border-radius: 25px;
    padding: 12px;
}

#fb:hover {
    color: #1a6ed8;
    background-color: white;
}

#google {
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 12px;
}

#google:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#apple {
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 12px;
}

#apple:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

p {
    color: white;
}

#signup {
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
}

#log{
    display: flex;
    flex-direction: column;
}